<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        {% block header %}
            <h1>{{ main_page }}</h1>
        {% endblock %}
    </header>

    <nav>
        {% block nav %}
            <p><a href="platform">{{ main_page }}</a></p>
            <p><a href="platform/shop">{{ shop }}</a></p>
            <p><a href="platform/cart">{{ cart }}</a></p>
        {% endblock %}
    </nav>

    <main>
        {% block main %}
            <h2>{{ types }}</h2>
            <ul>
                {% for i in pelmeni %}
                    <li>{{ i }} <button>{{ buy }}</button></li>
                {% endfor %}
            </ul>
        {% endblock %}
    </main>
</body>
</html>